@{
    ViewData["Title"] = "Home Page";
}
@model CorePassword.Services.PasswordGeneratorService
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<input id="length" placeholder="Length" />
<br />
<input id="upper" placeholder="minUpper" />
<br />
<input id="lower" placeholder="minLower" />
<br />
<input id="special" placeholder="minSpecial" />
<br />
<input id="numeric" placeholder="minNumeric" />
<br />


<button type="submit" onclick="@Model.GeneratePassword(14,2,5,6,1)" class="btn btn-primary">Generate</button>
<p>
    @Model.GeneratePassword(14, 2, 5, 6, 1);
</p>

<script>
    function getValues() {
        var upper = document.getElementById("upper").val;
        var lower = document.getElementById("lower").val;
        var special = document.getElementById("special").val;
        var numeric = document.getElementById("numeric").val;
    }
</script>*@